.background-slides {
    position: fixed;
    width: 100%;
    z-index: 25;
    background: url(/img/slide-3.jpg) center/cover no-repeat;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay {
    background: rgba(32, 35, 45, 0.48);    
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: -50%;
    z-index: 50;
    transition: .5s;
    &.skew {
        transform: skew(-15deg, 0);
    }
    .overlay__stars {
        position: absolute;
        width: 100%;
        height: 5000%;
        animation: starAnimation 10000s infinite linear forwards;
        background: url(/img/starz.png) 50% 0 repeat;
        background-size: 1623px 559px;
    }
}

@keyframes starAnimation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-500%);
    }
}