@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?mkbn4v');
    src: url('/fonts/icomoon.eot?mkbn4v#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?mkbn4v') format('truetype'),
        url('/fonts/icomoon.woff?mkbn4v') format('woff'),
        url('/fonts/icomoon.svg?mkbn4v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change ../fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e902";
}

.icon-location2:before {
    content: "\e948";
}

.icon-bubbles2:before {
    content: "\e96d";
}

.icon-quotes-right:before {
    content: "\e978";
}

.icon-cog:before {
    content: "\e994";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-cancel-circle:before {
    content: "\ea0d";
}

.custom-icon-menu {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
    left: 15px;
    top: 15px;
    &:hover {
        transform: scale(1.1);
    }
    z-index: 101;
}

.close {
    color: #6d6d6d;
    font-size: 1.3em;
    cursor: pointer;
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
    left: 15px;
    top: 15px;
    z-index: 101;
    &:hover {
        transform: scale(1.1);
    }
}

.icon-exit:before {
    content: "\ea14";
}

.icon-telegram:before {
    content: "\ea95";
}

.icon-github:before {
    content: "\eab0";
}

.icon-skype:before {
    content: "\eac5";
}