.close_icon {
    width: 40px;
    &:hover {
        .close_icon__arc {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: drawLine .2s linear .32s forwards;
        }
        .line1 {
            transform-origin: 37% 64%;
            transform: rotate(-45deg);
            animation: returnRotate .2s linear .1s forwards;
        }
        .line2 {
            transform-origin: 30% 50%;
            transform: rotate(45deg);
            animation: returnRotate .2s linear .1s forwards;
        }
    }
}

@keyframes returnRotate {
    to {
        transform: rotate(0);
    }
}
@keyframes drawLine {    
    to {
        stroke-dashoffset: 0;
    }
}